/* Prebook.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
  }
  
  .prebook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
   
  }
  
  form {
    background-color: #d0cfcf;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgb(253, 251, 251);
    width: 450px;
    text-align: center;
    position: relative;
    top: 300px;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(18, 18, 15);
    text-shadow: 4px 5px 4px yellow;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    right: 10px
  }
  
  button:hover {
    background-color: #0056b3;
  }
  