/* Prebook.module.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.prebookContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1vh;
  padding: 10px; /* Optional: Add some padding around the container */
}

form {
  background-color: #d0cfcf;
  padding: 20px; /* Reduced padding */
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgb(253, 251, 251);
  width: 400px; /* Reduced width */
  text-align: center;
  position: relative;
  top: 410px;
}

h1 {
  margin-bottom: 20px;
  font-size: 10px; /* Reduced font size */
  color: rgb(18, 18, 15);
  text-shadow: 4px 5px 4px yellow;
}

.formGroup {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: calc(100% - 20px); /* Adjusted width calculation */
  padding: 1px; /* Reduced padding */
  margin-top: 1px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 80%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 500px;
  cursor: pointer;
  position: relative;
  right: 10px;
}

button:hover {
  background-color: #0056b3;
}
