p{
    background-color: bisque;
    color: black;
}
.rental {
    width: 100px !important;
    height: auto !important;
    display: block !important;
    margin-left: 200px !important;
  }
  

span{
    color: aliceblue;;
}