.rentalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 200px;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageRotation {
  position: relative;
  width: 100%;
  height: auto;
}

.mainImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade 8s infinite;
}

.image1 {
  animation-delay: 0s;
}

.image2 {
  animation-delay: 3s;
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

.textContainer {
  flex: 2;
}

.rentalLead {
  font-size: 1.3rem;
  color: #ece7e7;
  line-height: 1.5;
  margin: 0;
  text-shadow: 1px 1px 1px rgb(185, 185, 10);
}

.downloadApp {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.downloadApp a {
  color: #007bff;
  text-decoration: none;
}

.downloadApp a:hover {
  text-decoration: underline;
}
